HP_Power_Regulator = HP_Static_High_Performance_Mode
CPU_Virtualization = Disabled
Intel_Processor_Turbo_Mode = Disabled
Intel_VT-d2 = Disabled
HP_Power_Profile = Maximum_Performance
Intel_QPI_Link_Power_Management = Disabled
Intel_Minimum_Processor_Idle_Power_State = No_C-States
Hyperthreading = Disabled
Memory_Speed_with_2_DIMMs_per_Channel = 1333MHz_Maximum
ASR = Disabled
Low_Power_Halt_state = Disabled
